.first{
   width: 480px;
   height: 100px;
}

.select-elements {
	float: left;
	overflow: hidden;
	width: 20%;
	height:300px;
}
.select-elements input{
	font-size: 20px;
	position: absolute;
	left: -95px;
	width: 110px;
	height: 54px;
	padding: 12px 15px;
	transition: 0.3s;
	text-decoration: none;
	color: #ffffff;
	border-radius: 0 5px 5px 0;
}
.select-elements :hover {
	left: -10px;
}
.select-elements #haikei {
	margin-top: 20px;
	background-color: #da3c41;
}
.select-elements #takane {
	margin-top: 80px;
	background-color: #1b2538;
}

.review-screen {
    float: left;
    position:  relative;

    margin: 0 auto;
}
.review-screen canvas{
    position: absolute;
   margin: 0 auto;
}

#hk {
	clear: both;
	top 20px;
}
#pose {
	clear: both;
	top 20px;
}
#serihu_form {
	clear: both;
	margin-top 20px;
}
