body{
	font-size 50px;
}


.first{
   width: 90%;
   height: auto;
}

.select-elements {
	float: left;
	overflow: hidden;
	width: 20%;
	height: 400px;
}
.select-elements input{
	font-size: 30px;
	position: absolute;
	left: -95px;
	width: 165px;
	height: 81px;
	padding: 12px 15px;
	transition: 0.3s;
	text-decoration: none;
	color: #ffffff;
	border-radius: 0 5px 5px 0;
}
.select-elements :hover {
	left: -10px;
}
.select-elements #haikei {
	margin-top: 20px;
	background-color: #da3c41;
}
.select-elements #takane {
	margin-top: 105px;
	background-color: #1b2538;
}

.review-screen {
    float: left;
    position:  relative;

    margin: 0 auto;
}
.review-screen canvas{
    width: 60%;
    position: absolute;
   margin: 0 auto;
}

#hk {
	font-size 50px;
	clear: both;
	top 20px;
}
#pose {
	font-size 50px;
	clear: both;
	top 20px;
}
#serihu_form {
	width:80%;
	font-size 50px;
	clear: both;
	margin-top 20px;
}

