.review-screen {
    position:  relative;
    width: 960px;
    height: 600px; 
}
.review-screen canvas{
    position:  absolute;
    top 0px;
    left 0px;
    right 0px;
    bottom 0px;
    margin auto;
}
}
.select-elements {
    position:  relative;
    
}

