.review-screen {
    position:  absolute;
}
.review-screen canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.select-elements {
    margin-top 1000px;
}

