body{
	font-size 100px;
}


.first{
   width: 90%;
   height: auto;
}

.select-elements {
	float: left;
	overflow: hidden;
	width: 30%;
	height: 400px;
}
.select-elements input{
	font-size: 100px;
	position: absolute;
	left: -55px;
	width: 165px;
	height: 81px;
	padding: 12px 15px;
	transition: 0.3s;
	text-decoration: none;
	color: #ffffff;
	border-radius: 0 5px 5px 0;
}
.select-elements :hover {
	left: 0px;
}
.select-elements #haikei {
	margin-top: 20px;
	background-color: #da3c41;
}
.select-elements #takane {
	margin-top: 105px;
	background-color: #1b2538;
}

.review-screen {
    float: left;
    position:  relative;

    margin: 0 auto;
}
.review-screen canvas{
    width: 100%;
    position: absolute;
   margin: 0 auto;
}

#hk {
	width:100%;
	font-size 100px;
	clear: both;
	top 50px;
}
#pose {
	width:100%;
	font-size 100px;
	clear: both;
	top 50px;
}
#serihu_form {
	width:100%;
	font-size 100px;
	clear: both;
	margin-top 20px;
}

